<!DOCTYPE html>
<html lang="en" data-th-fragment="header">
<head>
<meta charset="utf-8">
</head>
<body>
<div class="container">

	<form th:action="@{/shiftgroup}" method="post" th:object="${userModel.shiftGroup}"
		id="userForm"  class="form-horizontal">
		<input type="hidden" name="id" th:value="*{id}">

		<div class="form-group row  ">
			<label for="name" class="col-form-label col-sm-4" style="padding-left:0px"><span style="color:red;">*</span>shift group name</label> 
			<!-- th:readonly="${userModel.admin} eq 'admin'? 'false' : 'readonly'"
			user无法访问到admins下面的页面，也就不用限制编辑了 -->
			 <div class="col-sm-8"><input 
				type="text" class="form-control" id="name" name="name"
				th:value="*{name}" maxlength="50"
				placeholder="number of characters:2~20"></div>

		</div>
		
		<div class="form-group row ">
				<label for="type" class="col-form-label col-sm-4" style="padding-left:0px"><span style="color:red;">*</span>type</label>
				 <div class="col-sm-8"><select id="type" name="type" class="form-control form-control-chosen" data-placeholder="please select">
					<option th:each="type : ${userModel.typelist}" data-th-selected="${userModel.shiftGroup.type.id eq type.id}"
						th:value="${type.id}"
						th:text="${type.name}"></option>
				</select></div>
			</div>
		
	</form>

</div><!-- /.container -->
</body>
</html>